.home-component {
  padding: 20px;
  .home-component__header {
    padding-bottom: 20px;
  }
  .home-component__container {
    display: flex;
    justify-content: space-between;
    .home-component__item-title {
      font-size: 1.5em;
    }
    .home-component__shops {
      width: 40%;
    }
    .home-component__map {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1044px) {
  .home-component {
    .home-component__container {
      flex-direction: column;
      .home-component__shops {
        width: 100%;
        margin-bottom: 20px;
      }
      .home-component__map {
        width: 100%;
      }
    }
  }
}